/* safe area */
.safe-area{
	height:100vh;
	background-color:#fcdb00;
}
.header {
	height:60px;
	padding-top:10px;
}
.nav-link{
	color:black;
	font-weight:bold;
}
.nav-link:hover{
	text-decoration:underline;
	color:black;
}

/* GLOBAL texts */

.headline{
	font-size:2rem;
}
.description{
	font-size:1.3rem;
}
.text{
	font-size:.85rem;
	color:#898989;
}
/*CAROUSEL */
.carousel-inner{
	margin-top:3rem;
	height:560px;
}
.wapper-carousel{
	margin-top:4rem;
	padding-right:6rem;
}

/* FEATYRES */
.feature {
	padding:5rem 0;
}
.feature .row {
	margin-top:5rem;
}

.feature .feature-item{
	padding:0 2rem;
}

.feature .feature-item .fa {
	position:absolute;	
	left:0;
}

.feature .feature-item .feature-heading{
	margin-left:4rem;
}

.feature .feature-item .feature-heading .headline{
	font-size: 1.3rem;
}

/* FOTER */
.footer{
	background-color:black;
	text-align:center;
	padding:5rem 0;
}
.footer .headline {
	color:#fcdb00;;
}
.footer .description{
	color:#898989;
}

.footer .btn-warning{
	background-color:#fcdb00;
	font-weight:bold;
	font-size:1rem;
	color:black;
}

.btn-warning:hover{
	cursor:pointer;
}

.footer form {
	margin: 4rem 0;
}

.footer .row {
	margin-top:5rem;
}

.footer .nav-link {
	color:#fff;
	padding:0;
	font-weight:normal;
}


@media (max-width: 768px){
	.navbar-collapse{
		position:relative;
		z-index:9999;
		background-color:yellow;
	}
	.navbar-nav{
		margin-top:2rem;
		padding:0 2rem;
	}
}

@media (max-width:480px){
	.carousel-item > img {
		display:none;
	}
}